body {
  width: 1366px;
  margin: 0 auto;
  max-height: 768px;
}

.container {
  max-width: 1030px;
  margin: 0 auto;
  color: white;
}

.container-background {
  background-image: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  margin-top: 51px;
}

.header-logo__img {
  background: url("../img/logo.png") no-repeat;
  background-size: cover;
  height: 47px;
  width: 53px;
}

.header-menu__left {
  display: flex;
  justify-content: space-between;
}

.milan {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  align-items: center;
  color: #ffffff;
  margin-left: 8px;
  text-transform: uppercase;
}

.holidays {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  align-items: center;
  color: #ffffff;
  margin-left: 8px;
  text-transform: uppercase;
}

.header-logo {
  float: left;
  display: flex;
}

.contacts {
  display: flex;
  justify-content: flex-end;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  align-items: flex-end;
}

.contacts-list a {
  color: #ffffff;
}

.header-name {
  display: flex;
  flex-direction: column;
}

.link {
  display: inline-block;
}

.contacts-email {
  margin-bottom: 19px;
}

.contacts-number {
  margin-bottom: 17px;
}

.main-content__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 220px);
  column-gap: 65px;
  row-gap: 78px;
}

.content {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  align-items: center;
  color: #ffffff;
}

.main-content__grid_img {
  width: 100%;
  height: 220px;
  border: 5px solid;
  border-image: linear-gradient(to right top, black, white, black, white) 1;
}

footer p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-top: 90px;
  margin-bottom: 15px;
}

.header-logo:hover .header-logo__img {
  background-image: url("../img/logo2.png");
  height: 47px;
  width: 53px;
}

.header-logo:hover span {
  color: #f26522;
}

.contacts-email:hover a {
  color: #f26522;
}

.contacts-number:hover a {
  color: #f26522;
}

.content:hover {
  color: #f26522;
}

.block-holder__back {
  background: url("../img/Hover_plashka.png") no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 55px;
  bottom: -55px;
  visibility: hidden;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.block-holder__back li {
  list-style: none;
}

.block-holder__item1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 8px;
  margin-left: 16px;
}

.block-holder__item2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  align-items: center;
  margin-left: 16px;
  margin-bottom: 12px;
}

.block-holder__item3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  align-items: center;
}

.block-holder__item3::after {
  content: "";
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  margin-left: 16px;
  margin-right: 14px;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6 {
  position: relative;
  /*Тут я пытался сделать чтобы надпись была в рамке,
    но поялялось 2 пикселя снизу и выглядело не очень
    border: 5px solid;
    border-image: linear-gradient(to right top, black, white, black, white) 1;*/
}

.item1:hover .block-holder__back {
  visibility: visible;
  transform: translateY(-55px);
  transition: 1s;
}

.item2:hover .block-holder__back {
  visibility: visible;
  transform: translateY(-55px);
  transition: 1s;
}

.item3:hover .block-holder__back {
  visibility: visible;
  transform: translateY(-55px);
  transition: 1s;
}

.item4:hover .block-holder__back {
  visibility: visible;
  transform: translateY(-55px);
  transition: 1s;
}

.item5:hover .block-holder__back {
  visibility: visible;
  transform: translateY(-55px);
  transition: 1s;
}

.item6:hover .block-holder__back {
  visibility: visible;
  transform: translateY(-55px);
  transition: 1s;
}

.item1:hover {
  overflow: hidden;
}

.item2:hover {
  overflow: hidden;
}

.item3:hover {
  overflow: hidden;
}

.item4:hover {
  overflow: hidden;
}

.item5:hover {
  overflow: hidden;
}

.item6:hover {
  overflow: hidden;
}

.grid-text {
  display: inline-block;
  margin-top: 20px;
}
