

body {
    background-color: #171717;
    color: #FFFFFF;
}

.content-position {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
}

.header-menu__list {
    display: flex;
    list-style: none;
    align-items: center;
}


.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 46px;
    margin-bottom: 64px;
}


h1 {
    font-family: 'Gilam Black DEMO';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
}

.heating-networks__wrapper {
    height: 961px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 25px;
    grid-template-areas:
    "block1 block1 block2 block2 block3 block3"
    "block4 block4 block4 block5 block5 block5";
}

.item1 {
    grid-area: block1;
    background-color: rgba(99, 79, 44, 0.76);
}

.item2 {
    grid-area: block2;
    background-color: rgba(180, 163, 133, 0.76);
}

.item3 {
    grid-area: block3;
    background-color: rgba(228, 181, 100, 0.76);
}

.item4 {
    grid-area: block4;
    background-color: rgba(99, 90, 74, 0.76);
}

.item5 {
    grid-area: block5;
    background-color: rgba(176, 140, 77, 0.76);
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.heating-networks {
    font-family: 'Gilam Black DEMO';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 81px;


}

.heating-networks, p, h1 {
    margin-bottom: 41px;
}

.construction-engineering__wrapper {
    display: grid;
    height: 897px;
    width: 100%;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 94px;

    font-family: "Gilam Black DEMO";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

.machine:nth-child(6) {
    color: #000000;
}

.machine span {
    font-weight: bold;
}

.machine {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 52px;
    padding-top: 44px;
    flex-direction: column;
}

.sludge {
    grid-row: 1 / 3;
    background-color: #0E0E0E;
}

.loader {
    grid-row: 3 / 7;
    background-color: #1F1F1F;
}

.washing {
    grid-row: 1 / 4;
    background-color: #242424;
}

.backhoe {
    grid-row: span 2;
    background-color: #1F1F1F;
}

.kamazcmu {
    grid-row: span 2;
    background-color: #0E0E0E;
}

.excavator {
    grid-row: span 3;
    background-color: #E4B564;
    margin-bottom: 20px;
}

.rink {
    grid-row: span 2;
    background-color: #0A0909;
}

.construction-engineering {
    margin-bottom: 191px;
}

.clients-main__list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-bottom: 72px;
    align-items: center;
}

.clients-main__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "euro mavisconstruction arsenalfirst"
    "arsenalsecond group invest";
    height: 782px;
    margin-top: 72px;
    margin-bottom: 238px;

}

.client {
    display: flex;
    justify-content: center;
    align-items: center;
}

.euroinvest {
    grid-area: euro;
    background-color: rgba(99, 79, 44, 0.76);
}

.arsenal {
    grid-area: arsenalfirst;
    background-color: rgba(228, 181, 100, 0.76);
}

.mavis {
    grid-area: mavisconstruction;
    background-color: rgba(232, 210, 171, 0.76);
    text-align: center;
}

.setgroup {
    grid-area: group;
    background-color: rgba(176, 140, 77, 0.76);
}

.arsenalestate {
    grid-area: arsenalsecond;
    background-color: rgba(99, 90, 74, 0.76);
}

.euroinvestdevelop {
    grid-area: invest;
    background-color: rgba(99, 79, 44, 0.76);
}

.grid-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clients-background {
    background: url("../img/parallax-bg.jpeg") no-repeat fixed;
    background-size: cover;
    padding-top: 172px;

}

.header-callback a {
    color: #E4B564;
}

.header-callback {
    border: 1px solid #E4B564;
    padding: 10px 25px 10px 10px;
    margin-left: 39px;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.header-callback__img {
    padding-left: 26px;
    padding-right: 10px;
}

.link-color {
    color: #D6AF76;
}

.header-number a {
    color: #FFFFFF;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
}

.clients-button {
    border: 1px solid #E4B564;
    padding: 10px 40px;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.heating-networks__background {
    background: url("../img/header-bg.jpeg") no-repeat fixed;
    background-size: cover;
    padding-top: 64px;
    padding-bottom: 81px;
}

.client {
    position: relative;
    font-family: 'Gilam Black DEMO';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;

}

.block-holder {
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 0;
    visibility: hidden;
    margin: 0 auto;
    opacity: 0.2;
}

.client:hover .block-holder {
    display: block;
    visibility: visible;
    transition: 2s;
    transform: translateY(-70px);
    overflow: hidden;
    opacity: 1;
}

.client:hover img {
    transition: 2s;
    transform: translateY(-120px) scale(1.2);
}
