body {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.logo-name {
    font-family: Roboto serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    text-decoration: none;
    color: #000000;
    margin-top: 63px;
}

.logo-name span {
    color: #4BCAFF;
}

.logo-name a {
    color: #000000;
}

.header-menu__list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background: #35444F;
    height: 72px;
    overflow: hidden;
}

.header-menu__list li {
    border-left: 1px solid #FFFFFF;
    list-style: none;
}

.header-menu__list li:last-child {
    border-right: 1px solid #FFFFFF;
}

.header-menu__list li a {
    display: inline-block;
    padding: 26px;
    font-family: Roboto serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    align-items: flex-end;
    color: #FFFFFF;
}

.header-menu {
    margin-top: 38px;
}

.sidebar-content {
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 48px;
}

.sidebar-main {
    margin-right: 52px;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    width: 344px;

    font-family: Roboto serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    list-style: none;
    color: #495863;
    border: 1px solid black;
}

.sidebar-list li {
    padding: 26px 0 26px 44px;
    box-sizing: border-box;
}

.sidebar-list li:last-child {
    padding-bottom: 30px;

}


.sidebar-list li:first-child {
    padding-top: 26px;

}

.back-picture__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    width: 885px;
    height: 529px;
    overflow: hidden;
}

#back-picture {
    background: url("../img/top1.jpg") no-repeat;
    width: 320px;
    height: 381px;
    background-size: cover;
}

.main-text {
    margin-top: 37px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.main-text p {
    font-family: Roboto serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    width: 885px;
    height: 120px;
}

.footer-navigation__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    background: rgba(99, 105, 110, 0.48);
    width: 1280px;
    font-family: Roboto serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.footer-navigation__list li {
    padding-top: 20px;
    padding-bottom: 21px;
    padding-left: 40px;
}

.footer-navigation__list span {
    padding-left: 135px;
}

.footer-navigation {
    margin-top: 54px;
    margin-bottom: 30px;
}

.header-menu__list .button-hover:hover {
    background-color: #222F3A;
    transition: 0.35s;
}

.sidebar-list .button-hover:hover {
    background-color: #DBDBDB;
    transition: 0.35s;
    width: 100%;
    cursor: pointer;
}

.footer-navigation__list .button-hover:hover {
    cursor: pointer;
    transition: 0.35s;
    color: #3181A6;
    text-decoration: underline;
}

 #back-picture:hover {
    transform: scale(1.2);
    transition: 1s;
}
