.footer-content {
    background-color: $foooter-background;
    &__container {
        @include container-320;
    }
    &__title {
        @include title-320;
        color: #ffffff;
        padding-top: 38px;
        justify-content: center;
        &::before {
                content: '-';
                padding-right: 4px;
            }
                        &::after {
                            content: '-';
                            padding-left: 4px;
                        }
    }

    &__text {
        @include footer-text;
        display: block;
        margin-top: 8px;
        margin-bottom: 26px;
    }

    &__text--hidden {
        display: none;
    }

    &__links {
        display: flex;
        justify-content: center;
    }
}

.footer-links {
    &__items {
        margin-right: 6px;
        margin-top: 8px;
    }
}

.footer-bottom {
    @include container-320;
   margin-top: 25px;
   padding-bottom: 47px;
   display: flex;
   flex-direction: column;
    &__text {
        @include bottom-text-320;
        display: block;
        &:not(:last-child)::after {
            content: '/';
            padding-left: 10px;
        }
    }
}

@media (min-width: 768px) {
    .footer-content {
        &__title {
            font-size: 16px;
        }
        &__text--hidden {
            display: inline;
        }
        &__text {
            font-size: 16px;
            line-height: 28px;
            margin-top: 22px;
                margin-bottom: 37px;
        }
        &__links {
                margin-bottom: 34px;
        }
    }
    .footer-bottom {
        display: flex;
        flex-direction: row;
        justify-content: center;
        &__text {
            &:not(:last-child)::after {
                    content: '/';
                    padding-left: 10px;
                    padding-right: 10px;
                }
        }
    }
}