.header-container {
    @include container-320;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 23px;
    margin-top: 23px;
}

.dropdown {
    position: relative;
    background-color: black;
    width: 44px;
    height: 37px;
    line-height: 0;
    &__image--hidden {
        display: none;
    }
}

.dropdown-menu {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: $dropdown-backgorund;
    width: 182px;
    &__items {
        @include header-fonts;
        display: block;
        padding-left: 12px;
        padding-top: 4.5px;
        padding-bottom: 4.5px;
        width: 100%;
        &:hover {
            color: #57A4A4;
        }
        &:active {
            background: #E5E5E5;
        }
    }
    &--hidden {
        display: none
    }
}

.background-container {
    @include container-320;
    margin-bottom: 38px;
    display: block;
    &__img {
   background: url(../../dist/images/main_back.png);
   @include background-norepeat-cover;
   width: 100%;
   min-height: 150px;
    
    }
}

@media (min-width: 320px) {
    .header-nav {
        display: none;
    }
}

@media (min-width: 768px) {
    .dropdown {
        display: none;
    }
    .header-container {
        margin-top: 43px;
    }

    .header-menu {
        display: flex;
        width: 100%;
    }
    .header-nav {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        margin-bottom: 28px;
        &__items {
            @include header-fonts;
            cursor: pointer;
            &:hover {
                    color: #57A4A4;
                }
        }
    }
   .background-container {
    &__img {
        min-height: 360px;
    }
   }
    
}

@media (min-width: 1200px) {
    .background-container {
            &__img {
                height: 550px;
                width: 100%;
            }
        }
}

