
.main-content {
    &__block {
    margin-bottom: 28px;
    &--hidden {
        display: none;
    }
    }

    &__container {
        @include container-320;
    }

    &__title {
        @include title-320;
        margin-bottom: 23px;

        &::before {
            content: '-';
            padding-right: 4px;
        }
    }

    &__subtitle {
        @include subtitle-320;
        margin-top: 11px;
    }

    &__text {
        @include text-320;
        margin-top: 1px;
    }
}

.inst-content {
    padding-bottom: 25px;
    &__container {
        @include container-320;
    }

    &__title {
        @include title-320;
        padding-top: 38px;
        margin-bottom: 13px;
        display: block;
        &::before {
                content: '-';
                padding-right: 4px;
            }
    }

    &__inst-title {
        @include inst-title;
        padding-top: 38px;
        display: none;
        &::after {
                content: '-';
                padding-left: 4px;
            }
    }

    &__title-container {
        display: flex;
        justify-content: space-between;
        
    }
    
}

@media (min-width: 320px) {
    .main-content {
        &__lower-text {
            display: none;
        }
    }
    .inst-content {
        &__img--hide {
            display: none;
        }
    }
}

@media (min-width: 768px) {
.inst-content {
    background-color: rgba(0, 0, 0, 0.03);
    padding-bottom: 45px;
    margin-top: 60px;
    &__inst-title {
        display: block;
    }
    &__img {
        width: 100%;
        display: block;
    }
        &__img--last-hidden {
            display: none;
        }
        &__title {
            font-size: 16px;
        }
}
.inst-img {
    &__container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }
    
}

    .block-container {
        display: flex;
        &__about {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-left: 20px;
        }
    }

    .main-content  {
        &__text {
            font-size: 12px;
        }
        &__subtitle {
            font-size: 16px;
        }
        &__title {
            font-size: 16px;
        }
        &__lower-text {
            display: block;
            @include about-font;
        }
        &__block {
            &--hidden {
                display: flex;
            }
        }
    }

  
}
@media (min-width: 1200px) {
.main-content {
    &__block {
        width: 50%;
        &__block--hidden {
            display: block;
        }
    
    }

    &__wrapperxl {
        display: flex;
        flex-wrap: wrap;
    }
}
.inst-img {
    &__container {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
}

.inst-content {
    &__img--last-hidden {
        display: block;
    }
}

}