@mixin header-fonts {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    display: flex;
    align-items: center;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #4E4E4E;
}

@mixin container-320 {
    margin: 0 auto;
    width: 80%;
}

@mixin background-norepeat-cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin title-320 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #4E4E4E;
}

@mixin subtitle-320 {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 30px;
        display: flex;
        align-items: center;
        color: #4E4E4E;
}

@mixin text-320 {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #7C7C7C;
}

@mixin footer-text {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #B9B9B9;
}

@mixin bottom-text-320{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #B9B9B9;
}

@mixin about-font {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: #5C5C5C;
}

@mixin inst-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 22px;
        text-transform: uppercase;
        color: #4E4E4E;
}