.twitter {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 166, 255, 0.5);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.twitter-upper-block {
  display: flex;
}

.twitter-name {
  margin-right: 50px;
}
.twitter-username {
  margin-right: 50px;
}

.post-remove {
  margin-left: 10px;
  width: 100px;
  height: 40px;
  align-items: flex-end;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: transparent;
  border-radius: 50%;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
}

.loader {
  border: 4px solid rgba(0, 0, 255, 1);
  border-left-color: transparent;
  width: 100px;
  height: 100px;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
