body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

header {
  background-color: #1abc9c;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.title {
  margin: 0 auto;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-shadow: 2px 2px #3498db;
  display: flex;
  justify-content: center;
}

.start-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.start-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.start-button:hover {
  background-color: #2980b9;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: fixed;
  width: 600px;
  height: 600px;
}

td {
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
  transition: background-color 0.3s ease-in-out;
}

td.active {
  background-color: #2ecc71;
}

td.missed {
  background-color: #e74c3c;
}

td.hit {
  background-color: #f1c40f;
}

@media (max-width: 768px) {
  table {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 480px) {
  table {
    width: 300px;
    height: 300px;
  }
}
